name: print_hello
on: 
  push:
    branches: [main]
env:
  HELLO: "hello to varaible"
jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
      - name: print hello
        run: echo "hello world"
      - name: print varaible
        run: echo "this is a ${{ env.HELLO}}"